<h1>Edit</h1>

{{#if errors }}
<ul class="alert alert-danger">
    {{#each errors}}
    <li>{{ this.msg }}</li>
    {{/each}}
</ul>
{{/if}} {{#if success_msg}}
<div class="alert alert-success">{{success_msg}}</div>
{{/if}}
<div class="card card-body">
    <h3>Edit Data</h3>
    <form action="/ideas/{{idea.id }}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Judul</label>
            <input type="text" class="form-control" name="title" value = "{{idea.title}}" placeholder="input judul" required>
        </div>
        <div class="form-group">
            <label for="details">Detail</label>
            <textarea class="form-control" name="details" placeholder="input detail" required>{{idea.details}}</textarea>
        </div>
        <button class="btn-primary" type="submit">Submit</button>

    </form>
</div>